/* DEFAULT TEMPLATE */

@charset "utf-8";
/* CSS Document */

body {
	margin: 0 15% 0 15%;
	padding: 0;
	background: #febe9d url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333;
}

.header {
	position: relative;
}

.header h5 {
	text-align: center;
	font-style: italic;
	line-height: .1em;
	position: relative;
}

#ktn {
	width: 50%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.content {
	padding: 2em 0 2em 0;
	width: 100%;
}

.footer {
	display: block;
	position: relative;
	text-align: right;
}

<!-- LINKS -->
a {
	text-decoration: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	text-decoration: none;
	/*text-decoration: underline;  unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	font-style: italic;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* DROPDOWN BUTTON */
.dropbtn {
	border-radius: .5em;	
	border: 2px solid #333;
	background-color: transparent;
	color: #333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: .1em 0 .1em 0;
	cursor: pointer;
	width: 75%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.dropbtn h3 {
	font-size: 1.25em;
	text-align: center;
}
.dropbtn:hover, .dropbtn:focus {
	background-color: rgba(255,102,102,.5);
}
.dropdown {
	display: compact;
}
.drop-content {
	display: none; /*
	background-color: rgba(255,153,102,.2); 
	background-color: rgba(0,0,0,.2); */
	width: 75%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 0 0 .5em .5em;
	line-height: 20%;
}
.drop-content a {
	color: #333;
	text-decoration: none;
	padding: .1em 0 .1em 0; 
	display: block;
}
.drop-content a:hover {
	background-color: rgba(0,0,0,.4);
	color: #fff;
	border-radius: .5em;
/*	padding: auto; */
}
.show {display: block;}
