/* RESPONSIVE WEB DESIGN */
@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 1000px) {
	body {font-size: 100%;}
	.dropbtn {font-size: 1em;}
	.top-nav p {font-size: .9em;}	
}
@media only screen and (max-width: 750px) {
	body {font-size: 75%;}
	.dropbtn {
		font-size: .75em;
		border: 1px solid #333;
	}
	.drop-content {font-size: .75em;}

	.top-nav p {font-size: .8em;}	
}
@media only screen and (max-width: 480px) {
	body {
		font-size: 50%;
		margin: 0 5% 0 5%;
	}
	
	.top-nav {
		font-size: 1em;
		text-align: center;
		width: 100%;
	}
	
	.dropbtn {
		font-size: .75em;
		border: 1px solid #333;
		width: 100%;
	}
	.drop-content {font-size: .55em;}
}	
